<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <env name="APP_KEY" value=""/>
        <env name="WF_USERNAME" value=""/>
        <env name="WF_PASSWORD" value=""/>
        <env name="WF_MACHINE" value=""/>
        <env name="WF_VERSION" value=""/>
        <env name="WF_DEBUG" value="false"/>
        <env name="WF_DEBUG_LEVEL" value="2"/>
    </php>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>